POSTGRES_USER=student_user
POSTGRES_PASSWORD=zmen_toto_heslo
POSTGRES_DB=student_db

DATABASE_URL=postgresql://student_user:zmen_toto_heslo@db:5432/student_db
FLASK_SECRET_KEY=zmen_na_nahodny_retazec
ADMIN_TOKEN=zmen_na_tajny_admin_token
APP_ACCESS_CODE=zmen_pristupovy_kod

Q_LEARNING_MOUNT=./q_learning_data:/app/data/q_learning
POMDP_MOUNT=./pomdp_data:/app/data/pomdp